.flexparent{
    display: flex;
    border: 2px solid rgb(231, 20, 20);
    justify-content: space-between;
}

.flex-box{
    background-color: rgb(28, 203, 52);
    margin: 20px;
    padding: 20px;
}

.flex-box2{
    background-color: rgb(28, 203, 52);
    align-self: flex-end;
}