.layout {
    display: grid;
    grid-template-areas:
        "header-menu header-dropdown"
        "slider slider"
        "footer footer";

    grid-template-columns: 1fr 1fr;
}

.header-menu {
    grid-area: header-menu;
    background-color: rgb(145, 39, 39);
    border-radius: 4px 0 0 4px;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    list-style-type: none;
    border: none;
    padding: 0;
}

.nav-link button {
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.nav-link button a {
    text-decoration: none;
}

.nav-link button:hover {
    background-color: rgb(232, 235, 10);
}

.header-dropdown {
    grid-area: header-dropdown;
    background-color: rgb(145, 39, 39);
    border-radius: 0 4px 4px 0;
}

.header-dropdown .drop-down {
    justify-content: right;
    display: flex;
    align-items: center;
    margin: 20px;
}

.drop-down button {
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.drop-down button:hover {
    background-color: rgb(232, 235, 10);
}

.drop-down button a {
    text-decoration: none;
}

.slider {
    grid-area: slider;
    border: 2px solid blue;
}

.slides{
    position: relative;
    height: 100%;
    width: 80%;
    margin: auto;
}

.slides .mySlides{
    display: none;
    height: 400px;
    width: 600px;
    margin: auto;
}

.slides .mySlides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.3);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: -22px;
  background-color: #ece9e9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #5e5e5e;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {opacity : .4;}
    to {opacity : 1;}
}

.footer {
    grid-area: footer;
    border: 2px solid green;
}

