.nav-contaner{
    border: green 2px solid;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(46, 110, 88);
}

.nav-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-button:hover{
    background-color: rgb(46, 110, 88);
    background-color: rgb(146, 219, 126);
}