.layout{
        display: grid;
        grid-template-areas:
          "header header header"
          "sidebar content content"
          "sidebar footer footer ";

        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 1fr;
}

.header{
    grid-area: header;
    border-radius: 6px;
}

.nav-bar{
    background-color: #cf1b1b;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid rgb(73, 219, 116);
}

.nav-bar ul{
    list-style-type: none;
    display: flex;
}

.nav-bar ul li{
    margin-right: 1rem;
}

.nav-bar ul li.contact{
    margin-left: auto;
}

.nav-link button{
    background:none;
    border:none;
}

.nav-link button a{
    color: white;
    text-decoration: none;
}

.nav-link button a:hover{
    text-decoration: underline;
}

.sidebar{
    grid-area: sidebar;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid rgb(73, 219, 116);
}

.sidebar ul {
  list-style-type: none;  /* remove default list styling */
  padding: 0;             /* remove default padding */
  margin: 0;              /* remove default margin */
}

.sidebar ul li a {
  display: block;          /* full clickable block */
  padding: 10px 10px;      /* bigger clickable area */
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

.content-container{
    display: grid;
    grid-area: content;
    background-color: green;
    grid-template-columns: repeat(3, 1fr);
}

.content-container .content{
    border: 1px solid red;
}

.content-container .content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.footer{
    grid-area: footer;
    border: 2px solid rgb(73, 219, 116);
    padding: 5px;
}


.footer .footer-content-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: #e0d4d4;
    color: rgb(77, 63, 63);
    padding: 5px;
    height: 90%;
}

.footer .footer-content-container .footer-content{
    border: 1px solid #74db93;
    padding: 7px;
}


