
h1{
  color: red;
}
h2{
    color: blue;
}
h3{
    color: green;
}
h4{
    color: purple;
}
h5{
    color: orange;
}
h6{
    color: pink;
}
p:nth-child(odd){
    color: black;
}
p:nth-child(even){
    color: gray;
}